
body {
    margin: 0;
}

h1 {
    background-color: aqua;
    margin: 0;
}

h2 {
    color: darkcyan;
    font-style: italic;
    font-size: 24px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 30px;
    margin-top: 20px;
}

.navbar > li {
    float: left;
    font-size: 24px;
}

.botoMenu {
    background-color: chocolate;
    padding: 20px;
}

.contingutPagina {

    background-color: #ccc;
    border: 2px dashed #aaa;
    padding: 20px;
    margin-inline: 20px;
    margin-top: 20px;
}

.formulariContacte {
    background-color: #ACF;
    padding: 20px;
    width: 400px;
}

.formulariContacte > input, textarea {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 0px;
}

.formulariContacte > textarea {
    resize: vertical;
}

.botoFormulari {
    background-color: #46B;
}